@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --color-text: #fff;
  --color-bg: #131417;
  --color-link: #aaa;
  --color-link-hover: #fff;
  --color-label: #adadad;
  --color-text-alt: #575757;
  --color-caption: #fff;
}

* {
  overscroll-behavior: none;
}

body {
  margin: 0;
  color: var(--color-text);

  font-family: "tenon", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* for the pinned Placeholder */
.panel {
  height: 100vh;
  width: 100vw;
  flex: none;
}

/* now for the flip */
.gallery--wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* border: 1px solid red; */
}

.gallery {
  position: absolute;
  /* transform-origin: center; */
}

.gallery--grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  inset: 0;
}

.gallery--grid.gallery--switch {
  grid-gap: 56px;
  padding: 0;
  grid-template-columns: repeat(3, 115vw);
  grid-template-rows: repeat(3, 115vh);
  left: calc(-115vw - 28px * 3);
  top: calc(-122vh - 28px * 3);
}

.gallery__item-cut {
  overflow: hidden;
}

.gallery__item-inner {
  width: 150%;
  height: 150%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery--switch .gallery__item-inner {
  width: 100%;
  height: 100%;
}
/* -- after the swtich */
