@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  overscroll-behavior: none;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: "Poppins", "tenon", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  height: 100%;
}

body {
  font-size: 1.0256410256410258vw;
}

/* Max Font Size */
@media screen and (min-width: 1920px) {
  body {
    font-size: 19.692307692307693px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
/* Container Max Width */
.container {
  max-width: 1920px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.enable-scrolling {
  overflow: auto;
}

.pin-spacer {
  width: 100%;
}
